language: node_js
script: gulp test:nodejs:single
node_js:
  - 6.0.0 # min
  - lts/boron
  - 8.0.0
  - lts/carbon
  - lts/dubnium
  - stable
jobs:
  include:
    - stage: Browser tests
      script: gulp travis:browser
      node_js: lts/carbon
      addons:
        sauce_connect: true
    - stage: Lint
      script: gulp test:lint
      node_js: lts/carbon
